body {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 900px;
    min-height: 300px;
    margin: 20px auto;
    background-color: #99CCFF;
    border-radius: 6px;
    padding: 20px;
}

.heading {
    font-family: 'Oxygen Mono', sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 48px;
}

.center {
    text-align: center;
}

.icon {
    font-size: 48px;
}

.footer {
    font-size: 12px;
}
#logo {
    width:100px;
    height:100px;
}
.che-chao {
    fill: navy;
}